:root {
	--bg: oklch(90% 0.01 195);
	--bg-2: oklch(86% 0.01 195);
	--fg: oklch(20% 0.01 195);
	--fg-2: oklch(35% 0.01 195);
	--fg-3: oklch(60% 0.01 195);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	margin: 0;
	height: 100%;
	min-height: 100vh;
	// font-family: 'Plus Jakarta Sans', sans-serif;
	// font-family: 'Manrope', sans-serif;
	// font-family: 'DM Sans', sans-serif;
	// font-family: 'Kumbh Sans', sans-serif;
	font-family: 'Rethink Sans', sans-serif;
	// font-family: 'Onest', sans-serif;
	// font-family: 'Geologica', sans-serif;
	// font-family: 'Wix Madefor Display', sans-serif;
	// font-weight: 300;
	// font-family: 'Space Grotesk', sans-serif;
}

button {
	border: none;
	font: inherit;
	padding: 0;
	&:hover {
		cursor: pointer;
	}
}

input {
	font: inherit;
	color: var(--fg);
	background: none;
	border: none;
	padding: 0;
	&:focus {
		outline: none;
	}
	&::placeholder {
		color: var(--fg-3);
	}
}

a {
	text-decoration: none;
	color: var(--fg-2);
}
