:root {
	--bg: oklch(90% 0.01 195);
	--bg-2: oklch(20% 0.01 195);
	--fg: oklch(20% 0.01 195);
}

html {
	height: 100%;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	margin: 0;
	height: 100%;
	min-height: 100vh;
	// font-family: 'Plus Jakarta Sans', sans-serif;
	// font-family: 'Manrope', sans-serif;
	// font-family: 'DM Sans', sans-serif;
	// font-family: 'Kumbh Sans', sans-serif;
	font-family: 'Rethink Sans', sans-serif;
	// font-family: 'Onest', sans-serif;
	// font-family: 'Geologica', sans-serif;
	// font-family: 'Wix Madefor Display', sans-serif;
	// font-weight: 300;
	// font-family: 'Space Grotesk', sans-serif;
}

h1 {
}
